html {
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;

    height: 100%;
}

body {
    min-height: 100%;

    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #C4C4C4;

    padding: 28px 30px;

    border: solid black 1px;

    box-shadow: 0px 0px 8px black;
}

header h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 0 20px;
}

.list {
    display: flex;
    flex-direction: row;
}

.list-item {
    margin-right: 32px;
}

.list-item a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 400;
}

.list-item a:hover {
    text-decoration: underline;
}

main {
    height: 100%;
}

.descricao {
    background-color: #F3F3F3;

    padding: 32px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;

}

.descricao img {
    border-radius: 50%;
    width: 247px;
    height: 247px;
    box-shadow: 0px 10px 30px black;
}

.descricao-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 40%;
    height: 35%;

    background-color: #C4C4C4;

    padding: 30px 50px 50px 50px;
    border-radius: 30px;

    transition: 0.5s;
    transform: scale(1);
}

.descricao-texto:hover {
    transform: scale(1.1);
}

.descricao-texto h2 {
    margin-bottom: 20px;
    font-size: 40px;

    margin-bottom: 40px;
}

.descricao-texto p {
    line-height: 24px;
    font-size: 24px;
    font-weight: 400;
}


footer {
    background-color: #C4C4C4;

    display: flex;
    justify-content: space-around;
    align-items: end;

    padding: 3rem;
}

footer iframe {
    width: 25%;
    height: 25%;
}