html {
    font-family: 'Alata', sans-serif;
}

#header {
    background-color: #C4C4C4;

    padding: 30px 0;
}

header h1 {
    text-align: center;
    margin-left: 20px;

    font-size: 24px;
}

header span {
    margin-right: 20px;
    cursor: pointer;
}


.title-and-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black
}

#menu {
    display: none;

    margin-top: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.list-item {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 10px;

    border: solid black 1px;  
}

.list-item a {
    width: 100vw;
    height: 100%;
    text-align: center;

    display: block;
}

.list-item a:hover {
    text-decoration: underline;
}

.main-description {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F3F3F3;

    padding-bottom: 45px;
}

figure img {
    width: 247px;
    height: 247px;

    margin: 30px 0px;

    border-radius: 50%;

    box-shadow: 5px 5px 40px rgb(65, 60, 60);
}

.sobre-mim-section {
    padding: 0px 1rem;
}


.sobre-mim-section h2 {
    font-size: 24px;

    margin-bottom: 20px;
}

.sobre-mim-section p {
    line-height: 24px;
}

.top-5 {
    background-color: #FFF;

    padding: 0px 1rem;
    margin-bottom: 50px;
}

.top-5 h4 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.first-cards {
    display: flex;
    gap: 25px;

    justify-content: center;

    margin-bottom: 25px;
}

.second-cards {
    display: flex;
    gap: 25px;

    justify-content: center;
}


.card-item {
    background-color: #DFDFDF;
    
    width: 100px;
    height: 150px;

    border-radius: 10px;

    display: flex;
    align-items: flex-end;

    box-shadow: 2px 2px 10px;
    
    transform: scale(1);
    transition: 0.5s;
}

.card-item:hover {
    transform: scale(1.1);
}

.card-flag {
    position: absolute;
    top: 0px;
    left: 5px;

    width: 19px;
    height: 44px;

    background-color: #c4c4c4;
    border-radius: 0px 0px 5px 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-flag span {
    margin: 0px !important;
}

.card-item span{

    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}


footer {
    background-color: #c4c4c4;

    padding: 16px 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

button a {
    width: 100%;
    font-size: 16px;
}

.contato-button {
    border-radius: 5px;
    box-shadow: 0 9px #999;
    background-color: #DFDFDF;

    border: none;

    padding: 8px 16px;

    cursor: pointer;
}

.contato-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.icons-contato {
    display: flex;
    gap: 10px;
}





@media screen and (min-width: 500px) and (max-width: 768px) {
    header h1 {
        font-size: 30px;
    }

    #burguer {
        font-size: 35px;
    }

    .first-cards {
        gap: 60px;
    }

    .second-cards {
        gap: 50px;
    }

    .card-item {
        width: 130px;
        height: 200px;
    }

    .contato-button {
        padding: 10px 40px;
    }
}


@media screen and (min-width: 1024px) {

    #header {
        display: flex;
        justify-content: space-between;
    }

    .title-and-icon {
        display: inline-block;
    }

    #burguer {
        display: none;
    }

    #menu {
        display: block !important;
        margin-right: 30px;
        margin-top: 0;

        width: 30%;
    }

    .list {
        flex-direction: row;

        justify-content: space-around;
    }

    .list-item {
        width: 5%;

        border: none;

        font-size: 20px;
    }

    /* main */

    .main-description {
        flex-direction: row;
        justify-content: space-around;

        padding-top: 30px;
    }

    .sobre-mim-section {
        width: 50%;
    }

    /* top 5 */

    .top-5 {
        display: flex;
        justify-content: space-around;

        gap: 70px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;

        width: 100%;
    }

    .cards-filmes {
        align-items: start;
    }

    .cards-filmes h4 {
        align-self: flex-start !important;
    }


    .cards ul {
        display: flex;
        justify-content: center;

        gap: 25px;
    }

    .cards h4 {
        align-self: flex-end;
    }

    /* footer */

    footer {
        flex-direction: row;
        justify-content: space-around;

        padding: 45px 0;
    }

    .contato-button {
        width: 20%
    }

    .icons-contato {
        gap: 40px;
    }

    .icons-contato img {
        width: 50px;
        height: 50px;
    }
}
